*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.navitems{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    z-index: 1;
}
.navitems li a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    width:140px;
    background: burlywood;
    margin: 4px 0;
    padding: 3px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: sans-serif;
}
.navitems li{
    list-style: none;
}
.navitems li a:hover{
    background: saddlebrown;
    color: white;
    transition: .2s ease-in-out;
}
.container{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.container .box{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container .box h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
#red{
    background: red;
}
#green{
    background: greenyellow;
}
#blue{
    background: blue;
}
#orange{
    background: orange;
}